body {
  font-family: "Roboto";
  margin: 0px;
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo-container__img {
  width: 12rem;
  padding: 16px 0px;
}
header .location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #eaeaea;
}

main .reserve-explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: 18rem;
}
main .reserve-explore-container__title {
  text-align: center;
  width: 17.1875rem;
}
main .reserve-explore-container__txt {
  text-align: center;
  color: #353535;
  width: 19.6875rem;
  height: 2.875rem;
}
main .reserve-explore-container__button {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.founction-container {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.founction-container__button {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  font-weight: 500;
}
.founction-container__button--number {
  display: flex;
  padding: 3px 3px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateX(-1rem);
}

.restaurant-container {
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.restaurant-container__title {
  margin: 1.25rem;
}
.restaurant-container__card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  background-color: white;
  margin: 1.25rem;
  width: auto;
  height: 17rem;
  position: relative;
}
.restaurant-container__card--img {
  border-radius: 0.9375rem 0.9375rem 0 0;
  height: 66%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-container__card--text-block {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  border-radius: 0.125rem;
  background: #99e2d0;
  color: #008766;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.875rem;
}
.restaurant-container__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  align-items: center;
}
.restaurant-container__card--txt {
  line-height: 1rem;
}
.restaurant-container__card--heart {
  font-size: 1.7rem;
}
.restaurant-container__card--content-title {
  font-size: 1.125rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.375rem 1.5625rem;
  background: #353535;
  color: white;
  font-weight: 500;
}
.footer-container__logo {
  width: 8rem;
}
.footer-container__link {
  text-decoration: none;
  color: white;
}
.footer-container__icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.footer-container__icon2 {
  margin-right: 0.2rem;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */