body {
  font-family: "Roboto";
  margin: 0px;
}

.loader-container {
  position: fixed;
  background-color: rgba(234, 234, 234, 0.8588235294);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.loader-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/*Loader*/
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #007db6;
  border-radius: 0.6em;
  animation: loading 3.6s alternate;
}

.loading span:nth-of-type(2) {
  background: #9356dc;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #003a68;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #89c8fa;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #008766;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #e29999;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #9356dc;
  animation-delay: 1.2s;
}

.loading span:nth-of-type(8) {
  background: #9356dc;
  animation-delay: 1.4s;
}

.loading span:nth-of-type(9) {
  background: #003a68;
  animation-delay: 1.6s;
}

.loading span:nth-of-type(10) {
  background: #89c8fa;
  animation-delay: 1.8s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Loader*/
header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo-container__img {
  width: 12rem;
  padding: 16px 0px;
}
header .location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #eaeaea;
}

main .reserve-explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: 18rem;
}
main .reserve-explore-container__title {
  text-align: center;
  width: 17.1875rem;
}
main .reserve-explore-container__txt {
  text-align: center;
  color: #353535;
  width: 19.6875rem;
  height: 2.875rem;
}
main .reserve-explore-container__button {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.2s linear;
}
main .reserve-explore-container__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.founction-container {
  margin: 0 0 3rem 1.25rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .founction-container {
    margin: 0 8rem 2rem 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .founction-container__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.founction-container .fa-solid {
  color: #7e7e7e;
}
.founction-container__button {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  font-weight: 500;
  padding-right: 0.8rem;
}
.founction-container__button:hover > .fa-solid {
  color: #9356dc;
}
@media screen and (min-width: 1024px) {
  .founction-container__button {
    width: 100%;
  }
}
.founction-container__button--number {
  display: flex;
  padding: 3px 3px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateX(-1rem);
}

.restaurant-container {
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.restaurant-container__title {
  margin: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .restaurant-container__title {
    margin: 1.25rem 0rem 0rem 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-container__block {
    margin: 0 7rem 2rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.restaurant-container__card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  background-color: white;
  margin: 1.25rem;
  width: auto;
  height: 17rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant-container__card {
    height: 15rem;
  }
}
.restaurant-container__card--img {
  border-radius: 0.9375rem 0.9375rem 0 0;
  height: 72%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-container__card--text-block {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  border-radius: 0.125rem;
  background: #99e2d0;
  color: #008766;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.875rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-container__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  align-items: center;
}
.restaurant-container__card--txt {
  line-height: 1rem;
}
.restaurant-container__card--content-title {
  font-size: 1.125rem;
}
.restaurant-container__card--like {
  font-size: 1.7rem;
  position: relative;
}
.restaurant-container__card--like-fill {
  color: #ff79da;
  fill: #ff79da;
  position: absolute;
  top: 2px;
  opacity: 0;
  transition: all 0.7s ease-out;
  animation-fill-mode: backwards;
}
.restaurant-container__card--like:hover .restaurant-container__card--like-fill {
  opacity: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.375rem 1.5625rem;
  background: #353535;
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row-reverse;
    height: 3rem;
    align-items: flex-end;
  }
}
.footer-container__logo {
  width: 8rem;
}
@media screen and (min-width: 1024px) {
  .footer-container__logo {
    flex-direction: row-reverse;
    margin-left: 4rem;
  }
}
.footer-container__block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .footer-container__block {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
.footer-container__link {
  text-decoration: none;
  color: white;
}
.footer-container__icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.footer-container__icon2 {
  margin-right: 0.2rem;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */