body {
  font-family: "Roboto";
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

/*Loader*/
.loader-container {
  position: fixed;
  background-color: rgb(234, 234, 234);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: opacity 2s cubic-bezier(1, -0.16, 1, -0.48) forwards;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader-container__loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356dc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo-container__img {
  width: 12rem;
  padding: 16px 0px;
}
header .location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #eaeaea;
}
header .arrow-container__icon {
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.4rem;
}

main .reserve-explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: 18rem;
}
@media screen and (min-width: 1024px) {
  main .reserve-explore-container {
    height: 14rem;
  }
}
main .reserve-explore-container__title {
  text-align: center;
  width: 17.1875rem;
}
@media screen and (min-width: 1024px) {
  main .reserve-explore-container__title {
    width: auto;
    font-size: 2.5rem;
    margin: 1rem;
  }
}
main .reserve-explore-container__txt {
  text-align: center;
  color: #353535;
  width: 19.6875rem;
  height: 2.875rem;
}
@media screen and (min-width: 1024px) {
  main .reserve-explore-container__txt {
    width: auto;
  }
}
main .reserve-explore-container__button {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.2s linear;
}
main .reserve-explore-container__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.founction-container {
  margin: 0 0 3rem 1.25rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .founction-container {
    margin: 0 8rem 2rem 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .founction-container__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.founction-container .fa-solid {
  color: #7e7e7e;
}
.founction-container__button {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  font-weight: 500;
  padding-right: 0.8rem;
}
.founction-container__button:hover > .fa-solid {
  color: #9356dc;
}
@media screen and (min-width: 1024px) {
  .founction-container__button {
    width: 100%;
  }
}
.founction-container__button--number {
  display: flex;
  padding: 3px 3px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateX(-1rem);
}

.restaurant-container {
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .restaurant-container {
    padding-bottom: 0rem;
  }
}
.restaurant-container__title {
  margin: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .restaurant-container__title {
    margin: 1.25rem 0rem 0rem 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-container__block {
    margin: 0 7rem 0rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
}
.restaurant-container__card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  background-color: white;
  margin: 1.25rem;
  width: auto;
  height: 17rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant-container__card {
    height: 16rem;
  }
}
.restaurant-container__card--img {
  border-radius: 0.9375rem 0.9375rem 0 0;
  height: 72%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-container__card--text-block {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  border-radius: 0.125rem;
  background: #99e2d0;
  color: #008766;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.875rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-container__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  align-items: center;
}
.restaurant-container__card--txt {
  line-height: 1rem;
}
.restaurant-container__card--content-title {
  font-size: 1.125rem;
}
.restaurant-container__card--like {
  font-size: 1.7rem;
  position: relative;
}
.restaurant-container__card--like-fill {
  color: #ff79da;
  fill: #ff79da;
  position: absolute;
  top: 2px;
  opacity: 0;
  transition: all 0.7s ease-out;
  animation-fill-mode: backwards;
}
.restaurant-container__card--like:hover .restaurant-container__card--like-fill {
  opacity: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.375rem 1.5625rem;
  background: #353535;
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row-reverse;
    height: 3rem;
    align-items: flex-end;
  }
}
.footer-container__logo {
  width: 8rem;
}
@media screen and (min-width: 1024px) {
  .footer-container__logo {
    margin-left: 4rem;
    width: 7rem;
  }
}
.footer-container__block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-container__block {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
.footer-container__block2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .footer-container__block2 {
    margin-left: 2rem;
    flex-direction: row;
    gap: 1rem;
  }
}
.footer-container__link {
  text-decoration: none;
  color: white;
}
.footer-container__icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.footer-container__icon2 {
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

/*Menu section*/
.resto-container {
  display: flex;
  flex-direction: column;
}
.resto-container__card--img {
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
}
.resto-container__block {
  display: flex;
  align-items: center;
}
.resto-container__card {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background-color: #f6f6f6;
  width: 100%;
  max-width: 1040px;
  margin: -2rem auto auto auto;
  z-index: 1;
}
.resto-container__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.resto-container__card--content-title {
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.resto-container__card--txt {
  line-height: 1rem;
}
.resto-container__card--like {
  font-size: 1.7rem;
  position: relative;
}
.resto-container__card--like-fill {
  color: #ff79da;
  fill: #ff79da;
  position: absolute;
  top: 2px;
  opacity: 0;
  transition: all 0.7s ease-out;
  animation-fill-mode: backwards;
}
.resto-container__card--like:hover .resto-container__card--like-fill {
  opacity: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
  max-width: 1040px;
}
.menu-container__title {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.menu-container__title--subtitle {
  background: #99e2d0;
  width: 2.5rem;
  height: 0.1875rem;
  margin-bottom: 1rem;
}
.menu-container__subtitle {
  margin-left: 1rem;
}
.menu-container__block {
  animation-name: card;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .menu-container__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}
.menu-container__block:nth-child(1) {
  animation-delay: 0ms;
}
.menu-container__block:nth-child(2) {
  animation-delay: 0.4s;
}
.menu-container__block:nth-child(3) {
  animation-delay: 0.8s;
}
.menu-container__block:nth-child(4) {
  animation-delay: 1.2s;
}
.menu-container__block:nth-child(5) {
  animation-delay: 0ms;
}
.menu-container__block:nth-child(6) {
  animation-delay: 0.4s;
}
.menu-container__block:nth-child(7) {
  animation-delay: 0.8s;
}
.menu-container__block:nth-child(8) {
  animation-delay: 1.2s;
}
.menu-container__block:nth-child(9) {
  animation-delay: 0ms;
}
.menu-container__block:nth-child(10) {
  animation-delay: 0.4s;
}
.menu-container__block:nth-child(11) {
  animation-delay: 0.8s;
}
.menu-container__block:nth-child(12) {
  animation-delay: 1.2s;
}
@keyframes card {
  to {
    opacity: 1;
  }
}
.menu-container__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 4.7rem;
  border-radius: 1.25rem;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  padding-right: 1rem;
  position: relative;
  overflow: hidden;
}
.menu-container__button:hover > .fa-solid {
  color: #9356dc;
}
@media screen and (min-width: 1024px) {
  .menu-container__button {
    width: 100%;
  }
}
.menu-container__button--plat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.menu-container__button--plat h3,
.menu-container__button--plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.menu-container__button--subtitle {
  font-size: 0.94019rem;
  font-weight: 300;
}
.menu-container__button--price {
  padding-top: 2rem;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  transition: all 0.5s;
}
.menu-container__button--check {
  position: absolute;
  right: -5rem;
  font-size: 1.7rem;
  color: white;
  background-color: #99e2d0;
  border-radius: 0 0.94019rem 0.94019rem 0;
  height: 4.7rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.menu-container__button:hover .menu-container__button--check {
  animation: button 0.5s ease-in-out backwards;
  transform: translateX(-5rem);
}
.menu-container__button:hover .menu-container__button--price {
  transform: translateX(-4rem);
  animation: button 0.5s ease-in-out backwards;
}
.menu-container__button:hover .menu-container__button--plat h3,
.menu-container__button:hover .menu-container__button--plat p {
  width: 83%;
}
@keyframes button {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1);
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  background-color: #f6f6f6;
  max-width: 1040px;
  margin: auto;
  padding: 2rem 0 1rem 0;
}
.order-container__button {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.2s linear;
}
.order-container__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=style.css.map */